{{define "error"}}
{{template "header" .}}

<main>
  <div class="u-wrapper">
    <div class="u-padding">

      <header class="Heading">
      </header>
      <p>{{.Message}}</p>
    </div>
  </div>
</main>

{{template "footer" .}}
{{end}}
