{{define "header"}}
<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/assets/style.css">
  </head>
  <body>
    <nav class="u-background">
      <div class="u-wrapper">
	<ul class="Banner">
	  <li class="Banner-item Banner-item--title">
	    <a class="Banner-link u-clickable" href="/">Home</a>
	  </li>
	  <li class="Banner-item">
	    <a class="Banner-link u-clickable" href="/contact">Contact</a>
	  </li>
	  <li class="Banner-item">
	    <a class="Banner-link u-clickable" href="/now">Now</a>
	  </li>
	  <li class="Banner-item">
	    <a class="Banner-link u-clickable" href="/about">About</a>
	  </li>
	</ul>
      </div>
    </nav>
    {{end}}
