{{define "page"}}
{{template "header" .}}

<main>
  <div class="u-wrapper">
    <div class="u-padding">
      <header class="Heading">
	<h2 class="Heading-title">
	  <a class="Heading-link u-clickable" rel="bookmark">{{toTitle .Name}}</a>
	</h2>
      </header>
      {{safeHTML .Content}}
    </div>
  </div>
</main>

{{template "footer" .}}
{{end}}
